@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "bootstrap.css";
@import "scrollbar.css";
@import "sidebar.css";
@import "progress.css";
@import "modal.css";
@import "navigation.css";

:root {
  /* Main Color */
  --themeColor: #21bf73;
  --themeColorDark: #39b27b;
  --themeLightColor: #56d598;
  --secondaryColor: #b0eacd;
  --themeDarkColor: #2e374f;
  --themeWhiteColor: #ffffff;

  /* Greyscale Color */
  --lightColor: #9ea3ae;
  --lightDeepColor-1: #9ea3ae;
  --lightDeepColor-2: #faf8f6;
  --lightDeepColor-3: #d3d5da;
  --lightDeepColor-4: #9ea3ae;
  --darkColor: #6c727f;
  --darkDeepColor-1: #4d5461;
  --darkDeepColor-2: #394150;
  --darkDeepColor-3: #212936;
  --darkDeepColor-4: #0b0a0f;

  /* Typography */
  --headline-1: 52px;
  --headline-2: 40px;
  --headline-3: 32px;
  --headline-4: 24px;
  --bodyXLarge: 20px;
  --bodyLarge: 18px;
  --bodyMedium: 16px;
  --bodySmal: 14px;
  --bodyXSmal: 10px;
}

/******************************
       General Style
******************************/

body {
  margin: 0;
  padding: 0;
  background-color: var(--themeWhiteColor);
  font-family: "Plus Jakarta Sans", sans-serif;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}

/* Common Style */
a {
  text-decoration: none;
}

.small-dot::after {
  content: "";
  height: 6px;
  width: 6px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--themeColor);
}
